<div class="mt-4">

    <div class="row">

    {{#each courses}}
        
        <div class="col-sm-6 col-lg-6">

                <div class="card">
                <a  href="/courses/{{this.slug}}">
                 <img class="imgCourse" src="{{this.image}}" class="card-img-top" alt="...">
                </a>
               
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                   <h5 class="card-title">{{this.name}}</h5>
                    </a>
                
                    <p class="card-text">{{this.description}}</p>
                    <a href="/courses/{{this.slug}}" class="btn btn-primary btnStudyhome">Học ngay</a>
                    <a href="/course/{{this._id}}/study" class="btn btn-primary btnStudyhome">Thi thử</a>
                  
                </div>
                </div>
        </div>

    {{/each}}

    </div>

</div>