<header id="HeaderUser">
  <nav class="header">
    <div class="header-logo">
      <i class="fas fa-motorcycle"></i>
      <span>Phlox</span>
      <span>Business</span>
    </div>
    <div class="header-controll">
      <ul class="header-controll-list">
        <li><a class="homepage" href="/me/home/{{username._id}}">HOME</a></li>
        <li>ABOUT</li>
        <li>BLOG</li>
        <li>SERVICES</li>
        <li>COURSES</li>
        <li>CONTACT</li>
      </ul>
    </div>
    <div class="header-search">
     <a class="linkBtnMyCourse" href="/me/stored/courses"><button class="btn-PURCHASE">Course Management</button></a> 
     <div class="img-avt">
        <img class="avatar" src="{{username.avatar}}" alt="">
          <ul class="menu-child-avt">
           
          <li><a class="link-MyAcount" href="/me/myAcount/{{username._id}}">Thông tin tài khoản</a></li>
            <div class="triangle"></div>
            <li><a class="logOut" href="/me/logOut">Đăng xuất</a></li>
             
         </ul>
     </div> 
   
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </nav>
</header>


<div class="container">
    <div class="titleMycourse">Khóa học của tôi</div>
    <div class="row fff">
        {{#each mycouresSubriced}}
          <div class="col-xl-3 itemMycourse">
            <div class="imgMycourse"><img src="{{this.image}}" alt=""></div>
            <div class="nameMycourse">{{this.name}}</div>
            <div class="actionsCourse">
            <a href="/courses/{{this.slug}}" class="btn btn-primary btnStudyhome btnsubriceCourse">Tiếp tục học</a>
            <a href="/course/{{this._id}}/study" class="btn btn-primary btnStudyhome">Thi thử</a>
            </div>
        </div>
        {{/each}}
        <div class="col-xl-3 addmysubricedCourse"><div class="iconAddmysubricedCourse"><i class="fa-solid fa-plus"></i></div> </div>
    </div>
</div>

<script>
    var avatar= document.querySelector('.avatar')
    const menuchild = document.querySelector('.menu-child-avt')

        avatar.addEventListener('click', function(event){
        if(!menuchild.classList.contains('activeAvt')){
             menuchild.classList.add('activeAvt')
              event.stopPropagation();
        }
       
    })

    document.addEventListener('click', function(){
        if(menuchild.classList.contains('activeAvt')){
              menuchild.classList.remove('activeAvt')
        }
    })

       // kiểm tra quyền nếu là người dùng đã đăng ký
    var linkBtnMyCourse= document.querySelector('.linkBtnMyCourse')
    const btnPuchare= document.querySelector('.btn-PURCHASE')
  
    var checkuser= `{{checkuser}}`
    if (checkuser==='user'){
        btnPuchare.innerHTML= 'My Course'
        linkBtnMyCourse.href=`/me/couresSubriced/{{username._id}}`
    }

    var iconAddmysubricedCourse= document.querySelector('.iconAddmysubricedCourse')
    iconAddmysubricedCourse.addEventListener('click', function(){
        window.location.href='/me/notSubricecourse'
    })

</script>