<header id="HeaderUser">
  <nav class="header">
    <div class="header-logo">
      <i class="fas fa-motorcycle"></i>
      <span>Phlox</span>
      <span>Business</span>
    </div>
    <div class="header-controll">
      <ul class="header-controll-list">
        <li><a class="homepage" href="/me/home/{{username._id}}">HOME</a></li>
        <li>ABOUT</li>
        <li>BLOG</li>
        <li>SERVICES</li>
        <li>COURSES</li>
        <li>CONTACT</li>
      </ul>
    </div>
    <div class="header-search">
     <a href="/me/stored/courses"><button class="btn-PURCHASE">Course Management</button></a> 
     <div class="img-avt">
        <img class="avatar" src="{{username.avatar}}" alt="">
          <ul class="menu-child-avt">
           
          <li><a class="link-MyAcount" href="/me/myAcount/{{username._id}}">Thông tin tài khoản</a></li>
            <div class="triangle"></div>
            <li><a class="logOut" href="/me/logOut">Đăng xuất</a></li>
             
         </ul>
     </div> 
   
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </nav>
</header>


<div class="cotentStored">
  
<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa khóa học này
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>    
        <button id="btn-delete" type="button" class="btn btn-primary">Có</button>
    
       
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<div class="serchUser">
   <input id="inputSearchUser" type="text" placeholder="nhập tên người dùng">
   <button class="btnSearchUser" onclick="searchTable()"><i class="fa-solid fa-magnifying-glass iconSearchUser"></i></button> 
</div>

<form class="mt-4" id="formWithDelete" method="POST" action="/courses/handelFormAction">


    <table id="myTable" class="table mt-4">
  <thead>
    <tr>
     
      <th class="css" scope="col">
        STT
      </th>
      <th scope="col">
        <div class="colume"> Tên User  
             <div class="arrow">     
            <a class="link-sort" href="#"><i class="fas fa-arrow-up"></i></a>
            <a class="link-sort" href="#"> <i class="fas fa-arrow-down"></i></a> 
          </div>    
        </div>
       
      </th>
      <th scope="col">
        <div class="colume"> Email
          <div class="arrow">     
           <a class="link-sort" href="#"><i class="fas fa-arrow-up"></i></a>
           <a class="link-sort" href="#"> <i class="fas fa-arrow-down"></i></a> 
          </div>     
        </div>
       
      </th>
      <th scope="col">
       <div class="colume"> ngày tạo
          <div class="arrow">     
            <a class="link-sort" href="#"><i class="fas fa-arrow-up"></i></a>
           <a class="link-sort" href="#"> <i class="fas fa-arrow-down"></i></a> 
          </div>     
        </div>
      </th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
      {{#each Listusers}}
    <tr>
     
      <td class="stt-course"> {{sum @index 1}}</td>
      <td>{{this.username}}</td>
      <td>{{this.email}}</td>
      <td>{{this.createdAt}}</td>
      <td class="remove-vertical"><button type="button" class="btn btn-primary" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-modal">Xóa</button></td>
 
    </tr>

        
    
      {{/each}}


  </tbody>
</table>

</form>
<form id="myForm" method="POST"></form>
<script>
     var avatar= document.querySelector('.avatar')
    const menuchild = document.querySelector('.menu-child-avt')

        avatar.addEventListener('click', function(event){
        if(!menuchild.classList.contains('activeAvt')){
             menuchild.classList.add('activeAvt')
              event.stopPropagation();
        }
       
    })

    document.addEventListener('click', function(){
        if(menuchild.classList.contains('activeAvt')){
              menuchild.classList.remove('activeAvt')
        }
    })
   
     document.addEventListener('DOMContentLoaded', function(){
      
    var id
    var formhiden= document.getElementById('myForm')
    var checkAll= $('#check-all')
    var checkItems=$('input[name="courseId[]"]')
    var btnSubmitAll= $('#btnSubmitAll')
    var formWithDelete= $('#formWithDelete')
    $('#delete-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
     id = button.data('id') // Extract info from data-* attributes

    })

    var btnDeleteCourse= document.querySelector('#btn-delete')
    btnDeleteCourse.onclick= function(){
 
        formhiden.setAttribute('action', `/user/delete/${id}/?_method=DELETE`)
        formhiden.submit()
        
    }


     })


  var input, filter, table, tr, td, i, txtValue;
 
  input = document.getElementById('inputSearchUser');
 
  table = document.getElementById('myTable');
  tr = table.getElementsByTagName('tr');

  function searchTable() {

  filter = input.value.toUpperCase();

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName('td');
    for (var j = 0; j < td.length; j++) {
      if (td[j]) {
        txtValue = td[j].textContent || td[j].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = '';
          break;
        } else {
          tr[i].style.display = 'none';
        }
      } 
    }
  }

}

// Lắng nghe sự kiện khi trường input rời focus
input.addEventListener('focusout', function() {
  if (input.value === '') {
    var tr = table.getElementsByTagName('tr');
    for (var i = 0; i < tr.length; i++) {
      tr[i].style.display = '';
    }

  }
});

</script>