
<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa khóa học này
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>    
        <button id="btn-delete" type="button" class="btn btn-primary">Có</button>
    
       
      </div>
    </div>
  </div>
</div>

<!-- Modal -->


<div class="container">
  <form class="mt-4" method="post" action="/courses/handelFormAction">
  <div class="recybin">
     <h2> Khóa học đã xóa của tôi</h2>
     
 <div class="iconTrash">
<a href="/me/stored/courses">Danh sách khóa học</a>
    </div>
    
  </div>

  <div class="d-flex align-self-center formActionAll">

    <div class="form-check d-flex align-self-center">
    <input class="form-check-all" type="checkbox" value="" id="check-all" >
    <label class="form-check-label selectAll" for="flexCheckChecked" id="check-all">
      Chọn tất cả
    </label>
  </div>

  <select name="method" class="form-select selectAction" aria-label="Default select example"  required>
     <option value="">--Chọn hành động--</option>
     <option  value="restore">Khôi phục</option>
    <option  value="destroy">Xóa vĩnh viễn</option>
  </select>
   
     <button id="btnSubmitAll" class="btn btn-primary disabled">Gửi yêu cầu</button>

</div>
   
    <table class="table mt-4">
  <thead>
    <tr>
      <th colspan="2" scope="col">STT</th>
      <th scope="col">Tên khóa học</th>
      <th scope="col">Mô tả</th>
      <th scope="col">ngày Xóa</th>
    </tr>
  </thead>
  <tbody>
      {{#each course}}
    <tr>
        <td> <input class="form-check-input" name="courseId[]" type="checkbox" value="{{this._id}}" id="check-item"></td>
      <th scope="row"> {{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.deletedAt}}</td>
      <td><button class="btn btn-primary btRestore" data-id="{{this._id}}">Khôi phục</button></td>
      <td><button type="button" class="btn btn-primary" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-modal">Xóa vĩnh viễn</button></td>
    </tr>

      {{else}}
        <tr>
            <td class="text-center" colspan="6">
                Thùng rác trống 
            </td>
        </tr>
      {{/each}}


  </tbody>
</table>

</form>
</div>

<form id="myForm" method="POST"></form>
<form id="FormRestore" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    var id
    var formhiden= document.getElementById('myForm')
    var formres= document.getElementById('FormRestore')
    var btnCheckAll= $('#check-all')
    var checkBoxItem= $('input[name="courseId[]"]') 
    var btnResAll= $('#btnSubmitAll')
    $('#delete-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
     id = button.data('id') // Extract info from data-* attributes

    })

    var btnDeleteCourse= document.querySelector('#btn-delete')
    var btnRes=document.querySelectorAll('.btn.btn-primary.btRestore')
    btnDeleteCourse.onclick= function(){
 
        formhiden.setAttribute('action', `/courses/${id}/destroy/?_method=DELETE`)
        formhiden.submit()
        
    }

    btnRes= Array.from(btnRes)
    var b=btnRes.length
    for(let i=0; i < b; i++){
        btnRes[i].onclick=function(){
            var id= btnRes[i].getAttribute('data-id')
            formres.setAttribute('action', `/courses/${id}/restore/?_method=PATCH`)
            formres.submit()
           
        }
    }

    function checkbtn (){
         $('input[name="courseId[]"]:checked').length >0? btnResAll.removeClass('disabled'):btnResAll.addClass('disabled')
    }
    checkBoxItem.change(function(){
       var ischeckedAll = checkBoxItem.length === $('input[name="courseId[]"]:checked').length 
       ischeckedAll? btnCheckAll.prop('checked', true): btnCheckAll.prop('checked', false)
      checkbtn()
    })

    btnCheckAll.change(function (){
        var ischecked= $(this).is(':checked')
        checkBoxItem.prop('checked', ischecked)
        checkbtn()
    })

    btnResAll.click(function(e){
      var isSubmit= btnResAll.hasClass('disabled')
      if(isSubmit){
         e.preventDefault()
      }
    })


})

</script>



