<header id="HeaderUser">
  <nav class="header">
    <div class="header-logo">
      <i class="fas fa-motorcycle"></i>
      <span>Phlox</span>
      <span>Business</span>
    </div>
    <div class="header-controll">
      <ul class="header-controll-list">
        <li><a class="homepage" href="/me/home/{{username._id}}">HOME</a></li>
        <li>ABOUT</li>
        <li>BLOG</li>
        <li>SERVICES</li>
        <li>COURSES</li>
        <li>CONTACT</li>
      </ul>
    </div>
    <div class="header-search">
     <a class="linkBtnMyCourse" href="/me/stored/courses"><button class="btn-PURCHASE">Course Management</button></a> 
     <div class="img-avt">
        <img class="avatar" src="{{username.avatar}}" alt="">
          <ul class="menu-child-avt">
           
          <li><a class="link-MyAcount" href="/me/myAcount/{{username._id}}">Thông tin tài khoản</a></li>
            <div class="triangle"></div>
            <li><a class="logOut" href="/me/logOut">Đăng xuất</a></li>
             
         </ul>
     </div> 
   
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </nav>
</header>


<div class="container">
        <div class="nameCourse">{{course.name}}</div>
   <div><input type="text" name="title" id="title" placeholder="nhập tiêu đề"></div> 
   <input class="idCourse" type="hidden" name="course_id" value="{{idCourse}}">
   
   <div class="listContentChild">
        <div class="formContentChild">
            <div>
                    <input type="text" name="content[]" class="titleChild" placeholder="nhập tiêu đề con">
                    <div class="formAddcontentCourse">
                         <textarea name="content[]" id="contentCourse" cols="140" rows="10"></textarea>
                        <div class="btn-Addchild"><button class="addFormChild"> <i class="fas fa-plus"></i> </button></div> 
                    </div>
                   
            </div>     
        </div>
   </div>
   
   

   
 <div><button class="btn btn-primary btAdd">thêm nội dung</button></div> 
</div>

 <script>

    var btAdd= document.querySelector('.btAdd')
    var title = document.querySelector('#title')
    var titleChild= document.querySelectorAll('.titleChild')// tieu de
    var contentCourse= document.querySelectorAll('#contentCourse')// list noi dung
    var idCourse= document.querySelector('.idCourse')
    var btAddHandelform= document.querySelector('.addFormChild')
    var listContentChild= document.querySelector('.listContentChild')

    function AddEvent (btn){
        
            btn.onclick= function(){
            
            var newDiv =document.createElement('div')
            newDiv.innerHTML=`<div class="formContentChild">
            <div>
                    <input type="text" name="content[]" class="titleChild" placeholder="nhập tiêu đề con">
                    <div class="formAddcontentCourse">
                         <textarea name="content[]" id="contentCourse" cols="140" rows="10"></textarea>
                        <div class="btn-Addchild"><button class="addFormChild"> <i class="fas fa-plus"></i> </button></div> 
                    </div>
                   
            </div>     
        </div>`
            
            listContentChild.appendChild(newDiv)
        
        }
    
    }

    AddEvent(btAddHandelform)

var observer = new MutationObserver(function(mutations) {
    mutations.forEach(function(mutation) {
       // gán lại mảng nút add
         btAddHandelform=document.querySelectorAll('.addFormChild')
         titleChild= document.querySelectorAll('.titleChild')
         contentCourse= document.querySelectorAll('#contentCourse')
         
         for(let i=0; i<btAddHandelform.length-1; i++){
            btAddHandelform[i].innerHTML=`<i class="fa-solid fa-minus"></i>`
            btAddHandelform[i].onclick= function(){
               formContentChild= this.closest('.formContentChild')
               formContentChild.remove()
            }
         }
         AddEvent(btAddHandelform[btAddHandelform.length-1])
        

    });
});

 observer.observe(listContentChild, { childList: true });



    /// fetch api
    function CreateContent (data){
        fetch('/contentCourse/addContent', {
        method: "POST", 
        headers: {
        "Content-Type": "application/json",
        },
        body: JSON.stringify(data), 
        
    })
        .then(() =>{
           window.location.href = '/courses/{{course.slug}}';
        })
        .catch(error => {
            console.log(error);
        })
}

   btAdd.onclick = function(){
         btAddHandelform=document.querySelectorAll('.addFormChild')
         titleChild= document.querySelectorAll('.titleChild')
         contentCourse= document.querySelectorAll('#contentCourse')
        var contentChild=[]
        for(let i=0; i<titleChild.length; i++){
            contentChild.push(
                {
                    titleChild: titleChild[i].value,
                    text: contentCourse[i].value
                }
            )
        }

        var data={
            title: title.value,
            course_id: idCourse.value,
            content: contentChild,
        }
        
        CreateContent(data)
        
    }
 

 </script>